@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Do Hyeon', sans-serif;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}

/* 로그인 페이지 Background */
.loginPage {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid palegreen;
}
.loginBg {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* opacity: 80%; */
}
.loginPage_bgTop {
    height: 60%;
    width: 100%;
    background: linear-gradient(60deg, #009FF5 0%, #59B3A7 100%);
}
.loginPage_bgHeader {
    content: "";
    height: 80%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.loginPage_bgCenter {
    content: "";
    position: relative;
    width: 100%;
    height: 20%;
}
.loginPage_bgWaves {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    margin-bottom:-7px; /*Fix for safari gap*/
}
.loginPage_bgFooter {
    content: "";
    height:40%;
    width: 100%;
    background-color: #EEE8A9;
}
/* 로그인 페이지 Background Animation */

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }
    100% { 
        transform: translate3d(85px,0,0);
    }
}
.loginTopWrap {
    top: 15%;
    left: 41.5%;
    width: 20%;
    height: 10%;
    position: absolute;
    text-align: center;

}
.loginWrapBg {
    content: "";
    top: 28%;
    left: 42%;
    width: 15%;
    height: 50%;
    background-color: aliceblue;
    position: absolute;
    border: 1px solid transparent;
    border-radius: 5%;
    padding: 2%;
    opacity: 30%;
}
.loginTopWrap>p {
    margin: 0%;
    font-family: 'yg-jalnan';
    color: #EBFCFF;
}
.loginTopWrap_logo>img {
    width: 3rem;

}
.loginWrap {
    top: 28%;
    left: 42%;
    width: 15%;
    height: 50%;
    position: absolute;
    border: 1px solid transparent;
    border-radius: 5%;
    padding: 2%;
}
.loginWrap_in {
    content: "";
    width: 98%;
    height: 98%;
    padding: 2%;
}
.login_Header {
    padding: 2% 10%;
    text-align: right;
}
.login_Header>h2 {
    font-family: 'yg-jalnan';
    font-size: x-small;
    color: #009FF5;
}

.login_center {
    padding: 2%;
}
.loginFormBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #E0952C;
}

.loginFormBox>label {
    margin-top: 10%;
    margin-bottom: 5%;
}
.loginFormBox>div {
    margin-bottom: 10%;
    width: 98%;
    height: 1.6rem;
    padding-top: 2%;
    text-align: center;
    background-color: #EBFCFF;
    border-radius: 5px;
    border: #E0952C solid 1px;
}
.loginFormBox>div>input {
    border: transparent;
    background-color: #EBFCFF;
}
.loginButton {
    margin-top: 10%;
    width: 98%;
    padding: 2%;
    border: transparent;
    border-radius: 5px;
    background-color: #E0952C;
    color: #EBFCFF;
    font-family: 'yg-jalnan';
}
.loginBottomWrap {
    top: 86%;
    left: 41.5%;
    width: 20%;
    height: 10%;
    position: absolute;
    font-size: x-small;
    text-align: center;
    color: rgb(151, 151, 151); 
}