
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  font-family: monospace;
  background-color: #eeebf0;
  position: relative;
  font-family: 'Permanent Marker', cursive;
}


.suggest-l {
	width: 300px;
	height: 300px;
	background: transparent url("https://s.cdpn.io/6859/suggest.png") no-repeat center center;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: 160px;
	margin-top: -340px;
  }
  .iphone-l {
	padding: 20px;
	width: 640px;
	height: 880px;
	margin: 0 auto;
	margin-top: 50px;
	background: transparent url("https://s.cdpn.io/6859/iphone.png") no-repeat center center;
	position: relative;
	background-size: contain;
	/* border: 1px yellow solid; */
  }
  .iphone-l > .screen-ll {
	position: absolute;
	padding: 10px 5px;
	top: 140px;
	left: 160px;
	width: 340px;
	height: 600px;
	/* border: yellowgreen 1px solid; */
  }
.iphone-l > .screen-ll> .center {

	/* top: 190px;
	left: 91px; */
	margin-top: 10px;
	width: 340px;
	height: 580px;
	/* background-color: aqua; */
	overflow-y: auto;
	scrollbar-color: #d4aa70 #e4e4e4;
	scrollbar-width: thin;
  }
/*----- center의 overflow-y: scroll Custom ----*/
.center::-webkit-scrollbar {
	width: 10px;
  }
.center::-webkit-scrollbar-track {
	background-color: transparent;
	border-radius: 100px;
  }
.center::-webkit-scrollbar-thumb {
	border-radius: 100px;
	background-image: linear-gradient(180deg, #38df8b 0%, #1d7177 99%);
	box-shadow: inset 2px 2px 5px 0 rgba(#f4e0f7, 0.5);
  }

.items{
	width: 320px;
	height: 206px;
	border: red 1px solid;
	padding: 0%;
}
a{
	text-decoration: none;
}
.item1{
	background-color: #f0d7b4;
	width: 320px;
	height: 206px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.item1 h2{
	margin:0;
	padding:0;
	text-transform:uppercase;
	text-align: justify;
	line-height: 98%;
	/* letter-spacing: 0.1rem; */
	text-shadow: 0px 10px 10px rgba(25, 3, 54, 0.66);
	font-size:5.5em;
	color:rgba(255,255,255,0.1);
	background-image:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/223219/pexels-photo-932638%20(1).jpeg");
	background-repeat:repeat-x;
	-webkit-background-clip:text;
	-webkit-animation: animate 15s linear infinite;

  }
  @-webkit-keyframes animate {
	0%{
	  background-position:left 0px top 80px;
	}
	40%{
	  background-position:left 800px top -50px;
	}
	  80%{
	  background-position:left 1600px top -50px;
	}
	100%{
	  background-position:left 2400px top 80px;
	}
  }

.wrapper{
	width: 362px;
	height: 200px;;
	position: fixed;
	margin: 560px 136px 0% 138px;
}
.keybutton{
	content: "";
	width: 79px;
	height: 79px;
	/* border: #1d7177 1px solid; */
	border-radius: 50%;
	background-color: rgb(231, 229, 226);

}
.key{
	margin: 782px 0px 0px 280px;
}
@media all and (max-width:650px) {
	.suggest-l {
	  margin-left: -150px;
	  top: 0;
	  margin-top: 0;
	}
	.iphone-l {
		width: 640px;
		height: 880px;
		margin-top: 250px;
	}
	.iphone-l > .screen-ll {
		padding: 20px 10px;
		top: 140px;
		left: 160px;
		width: 330px;
		height: 600px;
	  }
	.wrapper{
		width: 270px;
		height: 120px;;
		position: sticky;
		margin: 640px 0px 0% 140px;
	}
	  .items{
		width: 320px;
		height: 206px;	
	}
  }
@media all and (max-width:550px) {
	
	.suggest-l {
		margin-left: -150px;
		top: 0;
		margin-top: 0;
	}
	.iphone-l {
		width: 450px;
		height: 936px;
		margin-top: 250px;
	}
	.iphone-l > .screen-ll {
		padding: 20px 10px;
		top: 180px;
		left: 71px;
		width: 325px;
		height: 565px;
	}
	.center::-webkit-scrollbar {
		display: none;
	  }
	.items{
		width: 320px;
		height: 206px;
		padding: 5px 0%;
	}
	.wrapper{
		width: 336px;
		height: 120px;;
		position: sticky;
		margin: 648px 0px 0% 53px;
	}
	.key{
		margin: 14px 0px 0px 182px;
	}
}
@media all and (max-width:480px) {
	.suggest-l {
		margin-left: -150px;
		top: 0;
		margin-top: 0;
	}
	.iphone-l {
		width: 350px;
		height: 836px;
		margin-top: 250px;
	}
	.iphone-l > .screen-ll {
		padding: 20px 5px;
		top: 200px;
		left: 61px;
		width: 255px;
		height: 425px;
	}
	.center::-webkit-scrollbar {
		display: none;
	  }
	.iphone-l > .screen-ll>.center{
		height: 445px;
	}
	.items{
		width: 250px;
		height: 206px;
		padding: 0%;
	}
	.item1{
		width: 250px;
		height: 206px;
	}
	.item4{
		width: 250px;
		height: 206px;
	}
	.single-person-pool svg{
		
		viewBox: "80 100 440 380";
	}
	.wrapper{
		width: 270px;
		height: 120px;;
		position: sticky;
		margin: 538px 0px 0% 40px;
	}
	.key{
		margin: 14px 0px 0px 148px;
	}
	.keybutton{
		content: "";
		width: 60px;
		height: 60px;
		/* border: #1d7177 1px solid; */
		border-radius: 50%;
		background-color: rgb(231, 229, 226);
	
	}
}

@media all and (max-width:440px) {
	.suggest-l {
		margin-left: -150px;
		top: 0;
		margin-top: 0;
	}
	.center::-webkit-scrollbar {
		display: none;
	  }

	.wrapper{
		width: 270px;
		height: 120px;;
		position: sticky;
		margin: 538px 0px 0% 40px;
	}
}
@media all and (max-width:300px) {
	.suggest-l {
		margin-left: -130px;
		top: 0;
		margin-top: 0;
	}
	.iphone-l {
		width: 300px;
		height: 836px;
		margin-top: 150px;
		margin-left: -50px;
	}
	.iphone-l > .screen-ll {
		padding: 20px 5px;
		top: 230px;
		left: 51px;
		width: 225px;
		height: 370px;
	}
	.center::-webkit-scrollbar {
		display: none;
	  }
	.iphone-l > .screen-ll>.center{
		height: 380px;
	}
	.items{
		width: 220px;
	}
	.item1{
		height: 206px;
		width: 220px;
	}
	.item1 h2{
		font-size:4em;	
	  }
	.wrapper{
		width: 236px;
		height: 120px;;
		position: sticky;
		margin: 508px 0px 0% 32px;
	}
	.key{
		margin: 11px 0px 0px 122px;
	}
	.keybutton{
		content: "";
		width: 55px;
		height: 55px;
		/* border: #1d7177 1px solid; */
		border-radius: 50%;
		background-color: rgb(231, 229, 226);
	
	}
}
.wave1 {
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index: 1;
  }
  .wave2 {
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index: 1;
  }
  .wave3 {
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index: 1;
  }

.wave1 {
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index: 1;
  }
  .wave2 {
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index: 1;
  }
  .wave3 {
	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index: 1;
  }  










  /* ------------------------item4  */
  .item4{
	  /* width: auto;
	  height: 206px; */
  }

  .single-person-pool{
	  background-color:#52d0e0;
	  height: 206px;
	  width: 320px;
	}
  .pool0{fill:#52D0E0;}
  .pool1{fill:#3EA6C5;}
  .pool2{fill:#ff8ce1;}
  .pool3{fill:#10e6ca;}
  .pool4{fill:#07997b;}
  .pool5{fill:#13cdc5;}
  .pool6{fill:none;stroke:#7B8E9E;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
  .pool7{fill:none;stroke:#BBD7C4;stroke-width:5;stroke-linecap:round;stroke-miterlimit:10;}
  .pool8{fill:none;stroke:#8e8aff;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
  .pool9{fill:none;stroke:#D5DFE2;stroke-width:7;stroke-linecap:round;stroke-miterlimit:10;}
  .pool13{fill:none;stroke:#D5DFE2;stroke-width:9;stroke-linecap:round;stroke-miterlimit:10;}
  .pool15{fill:#ad68d5;}
  .pool16{fill:#D5DFE2;}
  .pool17{fill:none;stroke:#ad68d5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
  
  
  
  #r-arm-2, #r-arm-3, #r-arm-4,#r-arm-5{
  opacity:0;
  }
  
  #l-arm-2, #l-arm-3, #l-arm-4,#l-arm-5{
  opacity:0;
  }
  
  
  #r-leg-2, #r-leg-3, #r-leg-4,#r-leg-5{
  opacity:0;
  }
  
  #l-leg-2, #l-leg-3, #l-leg-4,#l-leg-5{
  opacity:0;
  }
  
  #head{  
	transform-origin:241px 276px;
	animation: head 2.25s ease infinite;
  }
  
  @keyframes head{
	0%{transform:rotate(30deg);
	} 
	50%{transform:rotate(0deg);
	} 
	70%{transform:rotate(0deg);}
	90%,100%{transform:rotate(30deg);}
	
  }
  
  #spiral{
	animation:spiral 2.25s ease infinite;
  }
  
  @keyframes spiral{
  
	0%{stroke-dasharray:200;
	  stroke-dashoffset:200;}
  
	100%{
	  stroke-dasharray:200;
	  stroke-dashoffset:-200;
	 }
	}
  



/* .path-0{
	animation:pathAnim-0 4s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	-webkit-animation:pathAnim-0 4s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;

}

@-webkit-keyframes pathAnim-0{
	0%{
		-webkit-d: path("M 0,600 C 0,600 0,200 0,200 C 57.96575846833578,202.64911634756993 115.93151693667156,205.2982326951399 175,205 C 234.06848306332844,204.7017673048601 294.23969072164954,201.45618556701032 350,181 C 405.76030927835046,160.54381443298968 457.10972017673043,122.87702503681888 517,135 C 576.8902798232696,147.12297496318112 645.3214285714287,209.03571428571428 714,200 C 782.6785714285713,190.96428571428572 851.6045655375553,110.98011782032404 904,127 C 956.3954344624447,143.01988217967596 992.2603092783504,255.04381443298968 1057,269 C 1121.7396907216496,282.9561855670103 1215.3541973490428,198.84462444771722 1284,171 C 1352.6458026509572,143.15537555228278 1396.3229013254786,171.57768777614137 1440,200 C 1440,200 1440,600 1440,600 Z");
	}
	25%{
		-webkit-d: path("M 0,600 C 0,600 0,200 0,200 C 76.26141384388808,204.80983063328424 152.52282768777616,209.61966126656847 205,220 C 257.47717231222384,230.38033873343153 286.17010309278345,246.33118556701032 334,231 C 381.82989690721655,215.66881443298968 448.7967599410898,169.0555964653903 514,177 C 579.2032400589102,184.9444035346097 642.6428571428571,247.44642857142856 703,234 C 763.3571428571429,220.55357142857144 820.6318114874816,131.15868924889543 877,129 C 933.3681885125184,126.84131075110456 988.8298969072166,211.91881443298968 1056,228 C 1123.1701030927834,244.08118556701032 1202.0486008836524,191.16605301914583 1268,175 C 1333.9513991163476,158.83394698085417 1386.9756995581738,179.4169734904271 1440,200 C 1440,200 1440,600 1440,600 Z");
	}
	50%{
		-webkit-d: path("M 0,600 C 0,600 0,200 0,200 C 45.85806332842415,166.62205449189986 91.7161266568483,133.2441089837997 163,147 C 234.2838733431517,160.7558910162003 330.99355670103097,221.64561855670098 385,238 C 439.00644329896903,254.35438144329902 450.3096465390279,226.17341678939619 506,211 C 561.6903534609721,195.82658321060381 661.7678571428571,193.66071428571428 724,210 C 786.2321428571429,226.33928571428572 810.6189248895433,261.18372606774665 871,248 C 931.3810751104567,234.81627393225332 1027.756443298969,173.60438144329896 1091,170 C 1154.243556701031,166.39561855670104 1184.3553019145802,220.39874815905745 1237,235 C 1289.6446980854198,249.60125184094255 1364.82234904271,224.80062592047128 1440,200 C 1440,200 1440,600 1440,600 Z");
	}
	75%{
		-webkit-d: path("M 0,600 C 0,600 0,200 0,200 C 73.24815905743739,211.92562592047128 146.49631811487478,223.85125184094255 206,214 C 265.5036818851252,204.14874815905745 311.2628865979382,172.52061855670104 369,149 C 426.7371134020618,125.47938144329896 496.45213549337257,110.0662739322533 563,125 C 629.5478645066274,139.9337260677467 692.9285714285716,185.21428571428575 746,215 C 799.0714285714284,244.78571428571425 841.8335787923417,259.0765832106038 898,230 C 954.1664212076583,200.92341678939619 1023.7371134020618,128.47938144329893 1089,135 C 1154.2628865979382,141.52061855670107 1215.2179675994112,227.00589101620034 1273,251 C 1330.7820324005888,274.99410898379966 1385.3910162002944,237.49705449189983 1440,200 C 1440,200 1440,600 1440,600 Z");
	}
	100%{
		-webkit-d: path("M 0,600 C 0,600 0,200 0,200 C 57.96575846833578,202.64911634756993 115.93151693667156,205.2982326951399 175,205 C 234.06848306332844,204.7017673048601 294.23969072164954,201.45618556701032 350,181 C 405.76030927835046,160.54381443298968 457.10972017673043,122.87702503681888 517,135 C 576.8902798232696,147.12297496318112 645.3214285714287,209.03571428571428 714,200 C 782.6785714285713,190.96428571428572 851.6045655375553,110.98011782032404 904,127 C 956.3954344624447,143.01988217967596 992.2603092783504,255.04381443298968 1057,269 C 1121.7396907216496,282.9561855670103 1215.3541973490428,198.84462444771722 1284,171 C 1352.6458026509572,143.15537555228278 1396.3229013254786,171.57768777614137 1440,200 C 1440,200 1440,600 1440,600 Z");
	}
}

@keyframes pathAnim-0{
	0%{
	d: path("M 0,600 C 0,600 0,200 0,200 C 57.96575846833578,202.64911634756993 115.93151693667156,205.2982326951399 175,205 C 234.06848306332844,204.7017673048601 294.23969072164954,201.45618556701032 350,181 C 405.76030927835046,160.54381443298968 457.10972017673043,122.87702503681888 517,135 C 576.8902798232696,147.12297496318112 645.3214285714287,209.03571428571428 714,200 C 782.6785714285713,190.96428571428572 851.6045655375553,110.98011782032404 904,127 C 956.3954344624447,143.01988217967596 992.2603092783504,255.04381443298968 1057,269 C 1121.7396907216496,282.9561855670103 1215.3541973490428,198.84462444771722 1284,171 C 1352.6458026509572,143.15537555228278 1396.3229013254786,171.57768777614137 1440,200 C 1440,200 1440,600 1440,600 Z");
	}
	25%{
	d: path("M 0,600 C 0,600 0,200 0,200 C 76.26141384388808,204.80983063328424 152.52282768777616,209.61966126656847 205,220 C 257.47717231222384,230.38033873343153 286.17010309278345,246.33118556701032 334,231 C 381.82989690721655,215.66881443298968 448.7967599410898,169.0555964653903 514,177 C 579.2032400589102,184.9444035346097 642.6428571428571,247.44642857142856 703,234 C 763.3571428571429,220.55357142857144 820.6318114874816,131.15868924889543 877,129 C 933.3681885125184,126.84131075110456 988.8298969072166,211.91881443298968 1056,228 C 1123.1701030927834,244.08118556701032 1202.0486008836524,191.16605301914583 1268,175 C 1333.9513991163476,158.83394698085417 1386.9756995581738,179.4169734904271 1440,200 C 1440,200 1440,600 1440,600 Z");
	}
	50%{
	d: path("M 0,600 C 0,600 0,200 0,200 C 45.85806332842415,166.62205449189986 91.7161266568483,133.2441089837997 163,147 C 234.2838733431517,160.7558910162003 330.99355670103097,221.64561855670098 385,238 C 439.00644329896903,254.35438144329902 450.3096465390279,226.17341678939619 506,211 C 561.6903534609721,195.82658321060381 661.7678571428571,193.66071428571428 724,210 C 786.2321428571429,226.33928571428572 810.6189248895433,261.18372606774665 871,248 C 931.3810751104567,234.81627393225332 1027.756443298969,173.60438144329896 1091,170 C 1154.243556701031,166.39561855670104 1184.3553019145802,220.39874815905745 1237,235 C 1289.6446980854198,249.60125184094255 1364.82234904271,224.80062592047128 1440,200 C 1440,200 1440,600 1440,600 Z");
	}
	75%{
	d: path("M 0,600 C 0,600 0,200 0,200 C 73.24815905743739,211.92562592047128 146.49631811487478,223.85125184094255 206,214 C 265.5036818851252,204.14874815905745 311.2628865979382,172.52061855670104 369,149 C 426.7371134020618,125.47938144329896 496.45213549337257,110.0662739322533 563,125 C 629.5478645066274,139.9337260677467 692.9285714285716,185.21428571428575 746,215 C 799.0714285714284,244.78571428571425 841.8335787923417,259.0765832106038 898,230 C 954.1664212076583,200.92341678939619 1023.7371134020618,128.47938144329893 1089,135 C 1154.2628865979382,141.52061855670107 1215.2179675994112,227.00589101620034 1273,251 C 1330.7820324005888,274.99410898379966 1385.3910162002944,237.49705449189983 1440,200 C 1440,200 1440,600 1440,600 Z");
	}
	100%{
	d: path("M 0,600 C 0,600 0,200 0,200 C 57.96575846833578,202.64911634756993 115.93151693667156,205.2982326951399 175,205 C 234.06848306332844,204.7017673048601 294.23969072164954,201.45618556701032 350,181 C 405.76030927835046,160.54381443298968 457.10972017673043,122.87702503681888 517,135 C 576.8902798232696,147.12297496318112 645.3214285714287,209.03571428571428 714,200 C 782.6785714285713,190.96428571428572 851.6045655375553,110.98011782032404 904,127 C 956.3954344624447,143.01988217967596 992.2603092783504,255.04381443298968 1057,269 C 1121.7396907216496,282.9561855670103 1215.3541973490428,198.84462444771722 1284,171 C 1352.6458026509572,143.15537555228278 1396.3229013254786,171.57768777614137 1440,200 C 1440,200 1440,600 1440,600 Z");
	}
}

.path-1{
	animation:pathAnim-1 4s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	-webkit-animation:pathAnim-1 4s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes pathAnim-1{
	0%{
		-webkit-d: path("M 0,600 C 0,600 0,400 0,400 C 49.2148379970545,399.46557437407955 98.429675994109,398.93114874815905 167,387 C 235.570324005891,375.06885125184095 323.4961340206185,351.74097938144337 377,368 C 430.5038659793815,384.25902061855663 449.5857879234168,440.1049337260677 508,440 C 566.4142120765832,439.8950662739323 664.1607142857143,383.83928571428567 734,357 C 803.8392857142857,330.16071428571433 845.771354933726,332.5379234167894 904,361 C 962.228645066274,389.4620765832106 1036.7538659793813,444.00902061855675 1101,448 C 1165.2461340206187,451.99097938144325 1219.2131811487482,405.4259941089838 1274,389 C 1328.7868188512518,372.5740058910162 1384.393409425626,386.2870029455081 1440,400 C 1440,400 1440,600 1440,600 Z");
	}
	25%{
		-webkit-d: path("M 0,600 C 0,600 0,400 0,400 C 77.40279823269515,435.97220176730485 154.8055964653903,471.9444035346097 209,474 C 263.1944035346097,476.0555964653903 294.1804123711341,444.19458762886603 343,438 C 391.8195876288659,431.80541237113397 458.4727540500735,451.27724594992634 517,441 C 575.5272459499265,430.72275405007366 625.9285714285714,390.69642857142856 688,375 C 750.0714285714286,359.30357142857144 823.8129602356407,367.9370397643593 888,392 C 952.1870397643593,416.0629602356407 1006.8195876288657,455.555412371134 1075,456 C 1143.1804123711343,456.444587628866 1224.9086892488956,417.8413107511046 1288,402 C 1351.0913107511044,386.1586892488954 1395.545655375552,393.0793446244477 1440,400 C 1440,400 1440,600 1440,600 Z");
	}
	50%{
		-webkit-d: path("M 0,600 C 0,600 0,400 0,400 C 72.07639911634757,366.34977908689245 144.15279823269515,332.69955817378496 203,337 C 261.84720176730485,341.30044182621504 307.46520618556696,383.5515463917526 366,384 C 424.53479381443304,384.4484536082474 495.98637702503686,343.0942562592047 546,338 C 596.0136229749631,332.9057437407953 624.5892857142858,364.07142857142856 690,400 C 755.4107142857142,435.92857142857144 857.6564801178201,476.62002945508107 931,473 C 1004.3435198821799,469.37997054491893 1048.784793814433,421.4484536082474 1101,402 C 1153.215206185567,382.5515463917526 1213.2043446244477,391.58615611192937 1271,396 C 1328.7956553755523,400.41384388807063 1384.397827687776,400.20692194403534 1440,400 C 1440,400 1440,600 1440,600 Z");
	}
	75%{
		-webkit-d: path("M 0,600 C 0,600 0,400 0,400 C 58.943851251840925,404.62518409425627 117.88770250368185,409.2503681885125 173,405 C 228.11229749631815,400.7496318114875 279.39304123711344,387.62371134020617 344,379 C 408.60695876288656,370.37628865979383 486.54013254786435,366.2547864506628 544,380 C 601.4598674521357,393.7452135493372 638.4464285714287,425.35714285714283 689,429 C 739.5535714285713,432.64285714285717 803.6741531664213,408.3166421207659 878,394 C 952.3258468335787,379.6833578792341 1036.8569587628867,375.3762886597938 1101,363 C 1165.1430412371133,350.6237113402062 1208.8980117820324,330.17820324005896 1262,335 C 1315.1019882179676,339.82179675994104 1377.5509941089838,369.9108983799705 1440,400 C 1440,400 1440,600 1440,600 Z");
	}
	100%{
		-webkit-d: path("M 0,600 C 0,600 0,400 0,400 C 49.2148379970545,399.46557437407955 98.429675994109,398.93114874815905 167,387 C 235.570324005891,375.06885125184095 323.4961340206185,351.74097938144337 377,368 C 430.5038659793815,384.25902061855663 449.5857879234168,440.1049337260677 508,440 C 566.4142120765832,439.8950662739323 664.1607142857143,383.83928571428567 734,357 C 803.8392857142857,330.16071428571433 845.771354933726,332.5379234167894 904,361 C 962.228645066274,389.4620765832106 1036.7538659793813,444.00902061855675 1101,448 C 1165.2461340206187,451.99097938144325 1219.2131811487482,405.4259941089838 1274,389 C 1328.7868188512518,372.5740058910162 1384.393409425626,386.2870029455081 1440,400 C 1440,400 1440,600 1440,600 Z");
	}
}
@keyframes pathAnim-1{
	0%{
	d: path("M 0,600 C 0,600 0,400 0,400 C 49.2148379970545,399.46557437407955 98.429675994109,398.93114874815905 167,387 C 235.570324005891,375.06885125184095 323.4961340206185,351.74097938144337 377,368 C 430.5038659793815,384.25902061855663 449.5857879234168,440.1049337260677 508,440 C 566.4142120765832,439.8950662739323 664.1607142857143,383.83928571428567 734,357 C 803.8392857142857,330.16071428571433 845.771354933726,332.5379234167894 904,361 C 962.228645066274,389.4620765832106 1036.7538659793813,444.00902061855675 1101,448 C 1165.2461340206187,451.99097938144325 1219.2131811487482,405.4259941089838 1274,389 C 1328.7868188512518,372.5740058910162 1384.393409425626,386.2870029455081 1440,400 C 1440,400 1440,600 1440,600 Z");
	}
	25%{
	d: path("M 0,600 C 0,600 0,400 0,400 C 77.40279823269515,435.97220176730485 154.8055964653903,471.9444035346097 209,474 C 263.1944035346097,476.0555964653903 294.1804123711341,444.19458762886603 343,438 C 391.8195876288659,431.80541237113397 458.4727540500735,451.27724594992634 517,441 C 575.5272459499265,430.72275405007366 625.9285714285714,390.69642857142856 688,375 C 750.0714285714286,359.30357142857144 823.8129602356407,367.9370397643593 888,392 C 952.1870397643593,416.0629602356407 1006.8195876288657,455.555412371134 1075,456 C 1143.1804123711343,456.444587628866 1224.9086892488956,417.8413107511046 1288,402 C 1351.0913107511044,386.1586892488954 1395.545655375552,393.0793446244477 1440,400 C 1440,400 1440,600 1440,600 Z");
	}
	50%{
	d: path("M 0,600 C 0,600 0,400 0,400 C 72.07639911634757,366.34977908689245 144.15279823269515,332.69955817378496 203,337 C 261.84720176730485,341.30044182621504 307.46520618556696,383.5515463917526 366,384 C 424.53479381443304,384.4484536082474 495.98637702503686,343.0942562592047 546,338 C 596.0136229749631,332.9057437407953 624.5892857142858,364.07142857142856 690,400 C 755.4107142857142,435.92857142857144 857.6564801178201,476.62002945508107 931,473 C 1004.3435198821799,469.37997054491893 1048.784793814433,421.4484536082474 1101,402 C 1153.215206185567,382.5515463917526 1213.2043446244477,391.58615611192937 1271,396 C 1328.7956553755523,400.41384388807063 1384.397827687776,400.20692194403534 1440,400 C 1440,400 1440,600 1440,600 Z");
	}
	75%{
	d: path("M 0,600 C 0,600 0,400 0,400 C 58.943851251840925,404.62518409425627 117.88770250368185,409.2503681885125 173,405 C 228.11229749631815,400.7496318114875 279.39304123711344,387.62371134020617 344,379 C 408.60695876288656,370.37628865979383 486.54013254786435,366.2547864506628 544,380 C 601.4598674521357,393.7452135493372 638.4464285714287,425.35714285714283 689,429 C 739.5535714285713,432.64285714285717 803.6741531664213,408.3166421207659 878,394 C 952.3258468335787,379.6833578792341 1036.8569587628867,375.3762886597938 1101,363 C 1165.1430412371133,350.6237113402062 1208.8980117820324,330.17820324005896 1262,335 C 1315.1019882179676,339.82179675994104 1377.5509941089838,369.9108983799705 1440,400 C 1440,400 1440,600 1440,600 Z");
	}
	100%{
	d: path("M 0,600 C 0,600 0,400 0,400 C 49.2148379970545,399.46557437407955 98.429675994109,398.93114874815905 167,387 C 235.570324005891,375.06885125184095 323.4961340206185,351.74097938144337 377,368 C 430.5038659793815,384.25902061855663 449.5857879234168,440.1049337260677 508,440 C 566.4142120765832,439.8950662739323 664.1607142857143,383.83928571428567 734,357 C 803.8392857142857,330.16071428571433 845.771354933726,332.5379234167894 904,361 C 962.228645066274,389.4620765832106 1036.7538659793813,444.00902061855675 1101,448 C 1165.2461340206187,451.99097938144325 1219.2131811487482,405.4259941089838 1274,389 C 1328.7868188512518,372.5740058910162 1384.393409425626,386.2870029455081 1440,400 C 1440,400 1440,600 1440,600 Z");
	}
} */

