body{
	margin:0;
	padding:0;
	background-color: bisque;
	/* background:#000000; */
	font-family:arial;
  }
  a{
	text-decoration: none;
	}
  .loader{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
  }
  .loader h2{
	margin:0;
	margin-bottom: 10px;
	padding:0;
	text-transform:uppercase;
	font-family: 'Corben', cursive;
	letter-spacing: 0.1rem;
	text-shadow: 0px 10px 10px rgba(25, 3, 54, 0.66);
	font-size:8em;
	color:rgba(255,255,255,0.1);
	background-image:url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/223219/pexels-photo-932638%20(1).jpeg");
	background-repeat:repeat-x;
	-webkit-background-clip:text;
	animation: animate 15s linear infinite;

  }
  @media only screen and (max-width: 1680px){
	.loader{
		top:40%;
		left:40%;
		transform:translate(-40%,-40%);
	  }
  }
  @media only screen and (max-width: 1200px){
	.loader{
		top:30%;
		left:30%;
		transform:translate(-30%,-30%);
	  }
  }
  @media only screen and (max-width: 980px){
	.loader{
		top:20%;
		left:20%;
		transform:translate(-20%,-20%);
	  }
	  .loader h2{
		font-size:6em;
		margin-bottom: 15px;
	  }  
  }
  @media only screen and (max-width: 680px){
	.loader{
		top:15%;
		left:20%;
		transform:translate(-15%,-15%);
	  }
	  .loader h2{
		font-size:4em;
		margin-bottom: 20px;
	  }  
  }
  @media only screen and (max-width: 580px){
	.loader{
		top:15%;
		left:15%;
		transform:translate(-10%,-10%);
	  }
	  .loader h2{
		font-size:4em;
		margin-bottom: 20px;
	  }  
  }
  @keyframes animate {
	0%{
	  background-position:left 0px top 80px;
	}
	40%{
	  background-position:left 800px top -50px;
	}
	  80%{
	  background-position:left 1600px top -50px;
	}
	100%{
	  background-position:left 2400px top 80px;
	}
  }