@import url('https://fonts.googleapis.com/css?family=Corben:700');

html,
body{
	margin:0;
	padding:0;
    width: 100%;
	height: auto;
	background: rgb(1,0,6);
    background: linear-gradient(347deg, rgba(1,0,6,1) 0%, rgba(26,9,121,1) 31%, rgba(16,177,132,0.8575805322128851) 100%);
    
}
.center{
    /* height: 30%;
	width: 100%; */
}

h1 {
	font-family: 'Corben', cursive;
	font-size: 4rem;
	color: rgb(255, 255, 255);
	letter-spacing: 0.1rem;
	text-shadow: 0px 10px 10px rgba(25, 3, 54, 0.66);
}

.hero {
	min-height: 30rem;
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-content: center;

}

.snow {
	position: absolute;
	min-width: 100vw;
	min-height: 100vh;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
 
}

.hero__content {
	position: relative;
    align-self: center;
    padding: 3rem 0;
}

.snow .svg {
	position: absolute;
	width: 100%;
	height: 100%;
}

#snow-top-layer {
	will-change: transform;
	transform: translateY(-768px);
	animation: fall 22.5s infinite linear;
}

#snow-bottom-layer {
	will-change: transform;
	transform: translateY(-768px);
	animation: fall 45s infinite linear;
}

@keyframes fall {
	
	100% {
		transform: translateY(0);
	}
	
}





/* bottom 부분 */			

@import url('https://fonts.googleapis.com/css?family=Exo+2:900');



.bottom {
	height: 650px;
	position: relative;
	display: flex;
	align-content: center;	
	justify-content: center;
	/* height: 70%;
	width: 100%; */
}

.bubbles-container {
    position: absolute;
    top: 0;
    left: 50%;

    width: 100%;
    max-width: 15rem;
    transform: translateX(-50%);
	opacity: 0.75;
	overflow: visible;
}

.bubbles {

	z-index: 1;
	width: 100%;
	height: auto;	
}
.bubbles> g > g:nth-of-type(3n) circle {
	stroke: #87f5fb;
}
.bubbles> g > g:nth-of-type(4n) circle {
	stroke: #87f5fb;
}
.bubbles-large>g>g>circle{
	stroke: white;
	fill: none;

}

.bubbles-large {
	overflow: visible;

}
.bubbles-large>g{
	transform: translateY(2048px);
	opacity: 0;
	will-change: transform, opacity;
}
.bubbles-large>g:nth-of-type(1) {
	animation: up 6.5s infinite;

}
.bubbles-large>g:nth-of-type(1)>g{
		transform: translateX(350px);
}
.bubbles-large>g:nth-of-type(1)>circle {
	animation: wobble 3s infinite ease-in-out;
}
.bubbles-large>g:nth-of-type(2) {
	animation: up 5.25s 250ms infinite;
}
.bubbles-large>g:nth-of-type(2)>g{
	transform: translateX(450px);
}
.bubbles-large>g:nth-of-type(2)>circle {
	animation: wobble 3s infinite ease-in-out;
}
.bubbles-large>g:nth-of-type(3) {
	animation: up 6s 750ms infinite;
}
.bubbles-large>g:nth-of-type(3)>g {
	transform: translateX(700px);
}
.bubbles-large>g:nth-of-type(3)>circle {
	animation: wobble 3s infinite ease-in-out;
}
.bubbles-large>g:nth-of-type(4) {
	animation: up 5.5s 1.5s infinite;
}
.bubbles-large>g:nth-of-type(4)>g {
	transform: translateX(500px);
}
.bubbles-large>g:nth-of-type(4) >	circle {
	animation: wobble 3s infinite ease-in-out;
}
.bubbles-large>g:nth-of-type(5) {
	animation: up 6.5s 4s infinite;
}
.bubbles-large>g:nth-of-type(5)>g {
	transform: translateX(675px);
}
.bubbles-large>g:nth-of-type(5)>	circle {
	animation: wobble 3s infinite ease-in-out;
}



.bubbles-small {
	overflow: visible;
}
.bubbles-small> g {
	transform: translateY(2048px);
	opacity: 0;
	will-change: transform, opacity;
}
.bubbles-small>g circle {
	transform: scale(0);
}
.bubbles-small>g:nth-of-type(1) {
	animation: up 5.25s infinite;
}
.bubbles-small>g:nth-of-type(1)>g {
	transform: translateX(350px);
}
.bubbles-small>g:nth-of-type(1)>circle {
	animation: wobble 3s infinite ease-in-out;
}

.bubbles-small>g:nth-of-type(2) {
	animation: up 5.75s infinite;
}
.bubbles-small>g:nth-of-type(2)>g {
	transform: translateX(750px);
}
.bubbles-small>g:nth-of-type(2)>circle {
	animation: wobble 3s infinite ease-in-out;
}
.bubbles-small>	g:nth-of-type(3) {
	animation: up 5.25s 250ms infinite;
}
.bubbles-small>	g:nth-of-type(3)>g {
	transform: translateX(350px);
}
.bubbles-small>	g:nth-of-type(3)>circle {
	animation: wobble 3s 250ms infinite ease-in-out;
}
.bubbles-small>	g:nth-of-type(4) {
	animation: up 5.75s 325ms infinite;
}
.bubbles-small>	g:nth-of-type(4)>g {
	transform: translateX(180px);
}
.bubbles-small>	g:nth-of-type(4)>circle {
	animation: wobble 3s 255ms infinite ease-in-out;
}
.bubbles-small>	g:nth-of-type(5) {
	animation: up 6s 125ms infinite;
}
.bubbles-small>	g:nth-of-type(5)>g {
	transform: translateX(350px);
}
.bubbles-small>	g:nth-of-type(5)>circle {
	animation: wobble 3s 250ms infinite ease-in-out;
}
.bubbles-small>	g:nth-of-type(6) {
	animation: up 5.13 250ms infinite;
}
.bubbles-small>	g:nth-of-type(6)>g {
	transform: translateX(650px);
}
.bubbles-small>	g:nth-of-type(6)>circle {
	animation: wobble 3s 125ms infinite ease-in-out;
}
.bubbles-small>	g:nth-of-type(7) {
	animation: up 6.25s 350ms infinite;
}
.bubbles-small>	g:nth-of-type(7)>g {
	transform: translateX(480px);
}
.bubbles-small>	g:nth-of-type(7)>circle {
	animation: wobble 3s 325ms infinite ease-in-out;
}
.bubbles-small>	g:nth-of-type(8) {
	animation: up 7s 200ms infinite;
}
.bubbles-small>	g:nth-of-type(8)>g {
	transform: translateX(330px);
}
.bubbles-small>	g:nth-of-type(8)>circle {
	animation: wobble 3s 325ms infinite ease-in-out;
}
.bubbles-small>	g:nth-of-type(9) {
	animation: up 6.25s 233ms infinite;
}
.bubbles-small>	g:nth-of-type(9)>g {
	transform: translateX(230px);
}
.bubbles-small>	g:nth-of-type(9)>circle {
	animation: wobble 3s 275ms infinite ease-in-out;
}
.bubbles-small>	g:nth-of-type(10) {
	animation: up 6s 900ms infinite;
}
.bubbles-small>	g:nth-of-type(10)>g {
	transform: translateX(730px);
}
.bubbles-small>	g:nth-of-type(10)>circle {
	animation: wobble 2s 905ms infinite ease-in-out;
}

@keyframes wobble {
	
	33% {
		transform: translateX(-50px);
	}
	
	66% {
		transform: translateX(50px);
	}
	
}

@keyframes up {

	0% {
		opacity: 0;
	}
	
	10%, 90% {
		opacity: 1;
	}
	
	100% {
		opacity: 0;
		transform: translateY(-1024px);
	}
	
}