<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- 해더폰트 -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
        
    <title>he Krusty Krab</title>

</head>
<style>
    *{
        background-color: #a11714;
        font-family: 'Indie Flower', cursive;
    }
    .menu{
        font-family: 'Indie Flower', cursive;
        color: blanchedalmond;
        
    }
</style>
<body>
    <header>
        <img src="./imgs/img_spongebab_he Krusty Krablogo.jpg" width="100px">
    </header>
    <div class="menu">
        <h2>The Krusty Krab_MENU</h2>
        <img src="./imgs/img_food1.jpg">
        <ul>
            <li>MMBB SET</li>
            <li>SINGLE
                <ul>
                    <li>Krab Burger</li>
                    <li>100% Juice</li>
                    <li>KK French fries</li>
                </ul>
            </li>
        </ul>
    </div> 
    <footer >
        <img src="./imgs/icon1w_call.gif"width="50px">
        
        <img src="./imgs/icon1w_in.gif"width="50px">
    </footer>
    
</body>

</html>