*{
    font-family: 'Do Hyeon', sans-serif;
}
@font-face {
    font-family: 'Y_Spotlight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/Y_Spotlight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html,
body{
    width: 100%;
    height: 100%;
    margin: 0;
}
li {
    list-style: none;
    text-decoration: none;
}
a {
    color: black;
}
ul {
    margin: 0;
    padding: 0;
}

.wrapTop {
    width: 96%;
    padding: 0 2%;
    background-color: #f3f6c8;
    position: fixed;
}
.wrapTop>header {
    width: 96%;
    padding: 0 2%;
    display: flex;
    /* border: #6d4720 1px solid; */
}
.header_left {
    width: 80%;
    display: flex;
    justify-content: center;
}
.header_left >img {
    width: 5rem;
    height: 4rem;
}
.header_right {
    width: 12%;

}
.header_right>ul {
    width: 100%;
    margin: 0%;
    padding: 0;
    padding-top: 15%;
    display: flex;
    justify-content: space-around;

}
.header_rightList>a>li {
    color: #6d4720;
    font-family: 'Y_Spotlight';
}
/* ----------haeder>menuber-------  */
.menu_btn {
    display: none;
    position: absolute;
}
.menu_btn>img {
    width: 2rem;
    height: 1.5rem;
    margin: 1rem;
}
.menuClose {
    display: none;
}
.menuClose>img {
    width: 2rem;
}
.menuSub {
    width: 96%;
    padding: 1% 1% 1% 3%;
    display: none;
    margin-bottom: 10%;
}
.menuSub>div {
    width: 96%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.menuSubCh {
    margin: 5px 2px;
    border: transparent solid 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: x-small;
    color: #ea9c2a;
    font-family: 'Y_Spotlight';
}
.menuSubCh>img {
    margin-bottom: 5px;
}
.menuSubCh:hover {
    font-size: small;
    color: #0f7b3a;
    border-radius: 5px;
    box-shadow: 5px 5px 5px -5px #ea9c2a;
}
nav {
    width: 96%;
    padding: 0 2%;
    height: 3rem;
    background-color: #f3f6c8;
}
.menuberList{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition-duration: 0.2s;
    background-color: #f3f6c8;
}
.menuberList_li {
    width: 16%;
    height: 1.5rem;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.menuberList_li>a {
    font-family: 'Y_Spotlight';
    color: #ea9c2a;
    position: absolute;
    cursor: pointer;
}
.menuberList_li>a:hover {
    font-size: large;
    color: #0f7b3a;
}
.menuberList_liCh {
    position: absolute;
    z-index: 10;
    display: none;
    background-color: #f3f6c8;
    top: 100%;
    width: 100%;
}
.menuberList_liCh>ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
}
.menuberList_liCh>ul>li {
    margin: 5px 0;
    font-size: small;
    color: #ea9c2a;
    font-family: 'Y_Spotlight';
    cursor: pointer;
}
.menuberList_liCh>ul>li:hover {
    font-size: smaller;
    color: #0f7b3a;
}
.wrapCenter {
    width: 96%;
    height: 1000px;
    padding: 2%;
    background-color: #6d4720;
}
.wrapBottom {
    width: 96%;
    padding: 2%;
    height: 2000px;
    background-color: #ea9c2a;
}
@media all and (max-width:1280px) {
    .header_left {
        width: 70%;
    }
    .header_right {
        width: 22%;
    }

}
@media all and (max-width:890px) {
    .menuberList_liCh>ul>li {
        word-break: keep-all;
        text-align: center;
        margin-bottom: 1rem;
    }

}
@media all and (min-width:689px) {
    .menuberList:hover .menuberList_liCh{
        display: block;
    }
}
@media all and (max-width:690px) {
    .header_left {
        width: 60%;
    }
    .header_right {
        width: 32%;
    }
    .header_rightList>a>li {
        font-size: smaller;
    }
    .menu_btn {
        display: block;
    }
    nav {
        height: auto;
        display: none;
        top: 100%;
        left: 0%;
    }
    .menuClose {
        display: block;
    }
    .menuSub {
        display: block;
    }
    .menuberList{
        flex-direction: column;
        height: auto;
        margin-bottom: 1rem;
    }
    .menuberList_li {
        width: 100%;
        height: 2rem;
        margin-bottom: 1rem;
    }
}