@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@font-face {
    font-family: 'Kanginhan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_07@1.0/Kanginhan.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;

}
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'PT Sans', sans-serif;
}

h3 {
    font-size: 2em;
    font-weight: bold;
    margin: 0%;
    padding: 1%;
    color: rgb(141, 141, 141);
}
a {
    text-decoration: none;
    font-weight: bolder;
    color: black;
}


/*----------------마우스 효과-------------------------------------*/
.cursor {
    width: 3rem;
    height: 3rem;
    border: 2px solid snow;
    border-radius: 50%;
    position: absolute;
    z-index: 1000;
    transition-property: background, transform;
    /* transform-origin: 100% 100%; */
    backdrop-filter: brightness(160%) contrast(140%);
}

/*---------------------------------------------------------------*/
.smokyWrap {
    background: black;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: transparent;
    backface-visibility: hidden;
    z-index: 100;
}
.smokyWrap>p>span {
    font-size: 4em;
    font-weight: bold;
    font-family: 'Kanginhan';
    text-shadow: 0 0 0 whitesmoke;
    animation: smoky 5s 3s both;
  }
span:nth-child(even) {
    animation-name: smoky-mirror;
}
  
@keyframes smoky {
    60% {
      text-shadow: 0 0 40px whitesmoke;
    }
    to {
      transform: translate3d(15rem, -8rem, 0) rotate(-40deg) skewX(70deg) scale(1.5);
      text-shadow: 0 0 20px whitesmoke;
      opacity: 0;
    }
  }
@keyframes smoky-mirror {
    60% {
      text-shadow: 0 0 40px whitesmoke;
    }
    to {
      transform: translate3d(18rem, -8rem, 0) rotate(-40deg) skewX(-70deg) scale(2);
      text-shadow: 0 0 20px whitesmoke;
      opacity: 0;
    }
}
span:nth-of-type(1) {
    animation-delay: 3.1s;
}

span:nth-of-type(2) {
    animation-delay: 3.2s;
}

span:nth-of-type(3) {
    animation-delay: 3.3s;
}

span:nth-of-type(4) {
    animation-delay: 3.4s;
}

span:nth-of-type(5) {
    animation-delay: 3.5s;
}

span:nth-of-type(6) {
    animation-delay: 3.6s;
}

span:nth-of-type(7) {
    animation-delay: 3.7s;
}

span:nth-of-type(8) {
    animation-delay: 3.8s;
}

span:nth-of-type(9) {
    animation-delay: 3.9s;
}

span:nth-of-type(10) {
    animation-delay: 4s;
}

span:nth-of-type(11) {
    animation-delay: 4.1s;
}

span:nth-of-type(12) {
    animation-delay: 4.2s;
}

span:nth-of-type(13) {
    animation-delay: 4.3s;
}

span:nth-of-type(14) {
    animation-delay: 4.4s;
}

span:nth-of-type(15) {
    animation-delay: 4.5s;
}

span:nth-of-type(16) {
    animation-delay: 4.6s;
}

span:nth-of-type(17) {
    animation-delay: 4.7s;
}

span:nth-of-type(18) {
    animation-delay: 4.8s;
}

span:nth-of-type(19) {
    animation-delay: 4.9s;
}

span:nth-of-type(20) {
    animation-delay: 5s;
}

span:nth-of-type(21) {
    animation-delay: 5.1s;
}
span:nth-of-type(22) {
    animation-delay: 5.2s;
}
span:nth-of-type(23) {
    animation-delay: 5.3s;
}
span:nth-of-type(24) {
    animation-delay: 5.4s;
}
span:nth-of-type(25) {
    animation-delay: 5.5s;
}
span:nth-of-type(26) {
    animation-delay: 5.6s;
}
span:nth-of-type(27) {
    animation-delay: 5.7s;
}
/*-------------------------------------------------------------*/
.wrap {
    display: flex;
    height: 100%;
    width: 100%;
    /* padding: 1%; */
}
/*-------------왼쪽 컨텐츠부분(배너이미지)-------------------------*/
.sidebanner {
    width: 45%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: rgb(15, 10, 37);
    
}
.sidebanner>div img {
    width: 100%;
    height: 50vh;
    filter: grayscale(100%) ;
}
/*마우스호버: 필터 변환*/
.sidebanner>div img:hover {
    filter: grayscale(0%) contrast(110%);
}



/*-------------오른쪽 컨텐츠부분()-------------------------*/

.contentWrap {
    width: 55%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    position: relative;
    /* border: 10px hotpink solid; */
}
.contentWrap::-webkit-scrollbar{
    display:none;
  }

/*-----------오른쪽 > Home */
.contHome {
    width: 100%;
    height: auto;
}

.contHomeBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
    font-family: 'Kanginhan';
}
.contHomeBox> h1 {
    font-size: 4em;
    font-weight: bold;
    
}
.contHomeBox> p {
    font-size: 2em;

}
/*max-width:900px block*/
.contHomeBox>img{
    display: none;
}
.contHomeBox>img {
    width: 100%;
    filter: grayscale(100%) ;
}
/*마우스호버: 필터 변환*/
.contHomeBox>img:hover {
    filter: grayscale(0%) contrast(110%);
}

/*-------------오른쪽 > About*/
.contAbout {
    width: 100%;
    display: flex;
    padding: 1% 1% 10%;
    flex-direction: column;
    justify-content: center;
    
}
.contAbout> p{
    font-family: 'Kanginhan';
    font-size: 1.7em;
    text-align: center;
    
}
.contAboutBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    padding: 0% 5%;
}
.contAboutB_itemTop {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgb(128, 115, 115);
    margin-bottom: 5%;
}
.contAboutB_itemTop > p{
    padding: 2%;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 1em;
    color: snow;

}
.contAboutB_itemTop::after{
    bottom: 0%;
    right: 0%;
    width: 5%;
    height: 18%;
    position: absolute;
    content: "";
    background-color: rgb(238, 240, 218);
    border-radius: 0% 0% 60% 0%;

}
.contAboutB_itemTop::before{
    bottom: 0%;
    right: 0%;
    width: 5%;
    height: 18%;
    position: absolute;
    content: "";
    background-color: rgb(73, 72, 72);

}
.youtubeIframeBox {
    filter: grayscale(100%) ;   
}
.youtubeIframeBox:hover {
    filter: grayscale(0%) ;   
}
.contAboutB_itemBottom {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:5% 0;
}
.contAboutB_itemBottom>div:nth-child(1){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0% 10%;
}
.contAboutB_itemBottom>div:nth-child(1)>div{
    padding: 2%;
}

.contAboutB_itemBottom>div:nth-child(2){
    float: left;
    padding: 0% 10%;
}
.contAboutB_itemBottom>div:nth-child(2)>div{
    padding: 2%;
}
.mapOn {
    width: 90%;
    height: 80%;
    float: left;
    padding: 2% 0% 2% 2%;
    background-color: rgb(73, 72, 72);
    display: none;
}
.mapOn> iframe {
    width: 80%;
}
.admissionFeeTab{
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    text-align: center;
    padding: 2%;
}

.admissionFeeTab :nth-child(2n-1) {
    background-color: rgb(202, 198, 193);
}
/*-------------오른쪽 > About the artist*/
.contArtist {
    width: 100%;
    display: flex;
    padding: 1% 1% 10%;
    flex-direction: column;
    justify-content: center;
    background-color: snow;
}
.contArtistBox{
    margin: 0 10%;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    margin-bottom: 2%;
}
.contArtistBox>div{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 1px burlywood solid; */
}
.contArtistBox_imgwarp{
    width: 100px;
    height: auto;
    overflow: hidden;
}
.contArtistBox_imgwarp>div>img{
    border: 1px transparent solid;
    border-radius: 50%;
    max-height: 130px;
    width: 100%;
}
.contArtistBox_textwarp{
    float: left;
    padding: 2%;
    padding-left: 8%;
    width: 67%;
}
.contArtistBox_textwarp>div>p{
    margin: 0;
}
.contArtistBox_textwarp>div>span{
    display: block;
}
.artistKName{
    font-size: larger;
    font-weight: bolder;
}
.artistName{
    font-size: smaller;
    font-style: italic;
    font-weight: bolder;
    margin-bottom: 0;
}
.artistTime{
    font-size: small;
    margin-bottom: 1%;
}
/*-------------오른쪽 > Art gallery*/
.contArt {
    width: 100%;
    display: flex;
    padding: 1% 1% 10%;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(53, 51, 51);
}
.contArtBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;    
    margin: 0;
}
.contArt_imgWrap{
    border:  20px solid;
    border-image: url("https://i.ibb.co/J2YpDC9/frame2.png") 93 92 87 92 stretch stretch;
    max-width: 100%;
    height: auto;
}
.contArt_imgWrap>a>img{
    position: relative;
    max-width: 100%;
    filter: grayscale(100%) ;   
}
.contArt_imgWrap>a>img:hover {
    filter: grayscale(0%) contrast(110%);
}
.contEvent {
    width: 100%;
    display: flex;
    padding: 1% 1% 5%;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

/*-------------메뉴-----------------------------------------*/
.menu {
    display: none;
    width: auto;
    height: auto;
    position: fixed;
    right: 0%;
    top: 0%;
    /* background-color: transparent; */
    background-color: darkslategrey;
}
.menu_icon {
    position: absolute;
    width: 4em;
    height: 4em;
    background-color:transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
}
.menu_icon>span {
    display: block;
    width: 0.6em;
    height: 0.6em;
    background-color: rgb(197, 194, 13);
    border-radius: 20px;
}
.menu_icon:hover{
    background-color:black;
    border-radius: 50% 0% 0% 50%;

}
.menu_icon:hover.menu_icon :nth-child(1){
    display: none;
}
.menu_icon:hover.menu_icon :nth-child(2){
    display: none;
}
.menu_icon:hover.menu_icon>span{
    height: 3em;
    width: 3em;
    background: radial-gradient( ellipse, rgb(197, 194, 13), rgb(194, 194, 182), transparent );
}
.menu_list{
    position: absolute;
    float:right;
 
    font-family: 'PT Sans', sans-serif;
    /* display: none; */
}
.menu_list_icon {
    width: 4em;
    height: 4em;
    background-color:transparent;
    background-color: aqua;
    padding: 5%;
    text-align: center;
}
.menu_list_icon>span {
    display: block;
    height: 0.6em;
    width: 3em;
    background-color:rgb(15, 10, 37);
    border-radius: 25px;
    transform: rotate( 45deg ) translate( 52% , 132% );
    
}
.menu_list_icon :nth-child(2){
    transform: rotate( -45deg ) translate( -13% , 170% );
}

/*-------------오른쪽 > footer*/
footer{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2% 0%;
    background-color: rgb(53, 51, 51);
    color: snow;
    font-size: small;
}
footer>div:nth-child(1) {
    display: flex;

}
footer>div:nth-child(1)>a>img {
    height: 50px;
    margin: 10px;
    filter: grayscale(100%) ;   
    border-radius: 50%;
}
footer>div:nth-child(1)>a>img:hover {
    filter: grayscale( 0%) ;   
}
@media all and (max-width:1680px){
    .contArtistBox>div:nth-child(1){    
        margin-right: 2%;
    }
}

@media all and (max-width:900px){
    body{
        overflow: scroll;
    }
    .smokyWrap {
        background: black;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        color: transparent;
        backface-visibility: hidden;
    }
    .smokyWrap>p>span {
        font-size: 2em;

    }
    .contHomeBox>img{
        display: block;
    }
    .wrap {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    .sidebanner {
        display: none;
    }
    .contentWrap {
        width: 100%;
    }
    .contAboutB_itemBottom>div:nth-child(1){
        flex-direction: column;
    }
    .contArt_imgWrap{
        padding: 0%;
    }
}
@media all and (max-width:780px){

    .contArtistBox>div{
        flex-direction: column;   
        align-items: center;
    }
    .contArtistBox>div:nth-child(1){    
        margin-right: 0%;
    }
    .contArtBox {
        flex-direction: column;
    }
    .contArtistBox_textwarp>div>span{
        display: none;
    }
}