.html,
body{
    height: 100%;
}
.cantainer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10% 30%;
}
.calculator{
    width: 80%;
    height: 50%;
    background-color: rgb(173, 24, 24);
    padding: 2%;
}
.resultWerp{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.2em;
}
.resultWerp input{
    width: 90%;
    height: 30%;
    font-size: 1em;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0%;
    color: rgb(173, 24, 24);
    background-color: rgb(241, 234, 225);
    border: 1em transparent solid;
    border-radius: 8px;
    margin-bottom: 4px;
    text-align: end;
}
.buttonWerp{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 0.3em;
}
.btn{
    width: 18%;
    height: 68px;
    background-color: rgb(241, 234, 225);
    font-size: 1.2em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0%;
    color: rgb(173, 24, 24);
    border: 1em transparent solid;
    border-radius: 90px 30px 50px 50px ;
}

.btnEqal{
    width: 40%;
    height: 68px;
    background-color: rgb(241, 234, 225);
    font-size: 18px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding:0%;
    color: rgb(173, 24, 24);
    border: 1em transparent solid;
    border-radius: 90px 30px 50px 50px ;
}