*{
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}
body{
    height: 100%;
}
.topHeader{
    width: 100%;
    height: 10em;
    /* background-color: brown;   확인용*/
    display: grid;
    grid-template-columns: 1fr 5fr;
}
.topleft{
    height: 4em;
    display: inline-flex;
    justify-content: left;
    /* border: 2px wheat solid; 확인용*/
}
.topright{
    height: 4em;
    display: inline-flex;
    justify-content: right;
    /* border: 2px wheat solid; 확인용*/
}
.topleftitem{
    margin: 1em;
    display: flex;
    justify-items: center;
    align-items: center;
}
.topleft>.topleftitem>.topleftCh a {
    text-decoration: none;
    color: black;
    margin: 0.2em;
    margin-right: 1em;
    font-size: 0.8em;
}
.toprightitem{
    margin: 1em;
    display: flex;
    align-items: center;
}
.topright>.toprightitem>.toprightCh a {
    text-decoration: none;
    color: black;
    margin: 0.2em;
    margin-left: 1em;
    font-size: 0.8em;
}

.topright>.toprightitem>.toprightCh img{
    width: 2em;
    margin-top: 0.3em;
}
.topleft>.topleftitem>.topleftCh a:hover{
    text-decoration: underline;
}
.topright>.toprightitem>.toprightCh a:hover{
    text-decoration: underline;
}
.topright>.toprightitem>.toprightCh img:hover{
    background-color: #E5E5E3;
    border-radius: 50%;
}
.toplogin{
    display: block;
    text-align: center;
    line-height: 2.8em;
    width: 7.3em;
    height: 2.8em;
    border-color: #098ce2;
    border-radius: 10%;
    box-shadow: 0 0 40px 40px #098ce2 inset, 0 0 0 0 #098ce2;
    transition: all 150ms ease-in-out;
    margin: 0.2em;
    margin-left: 1em;
}
.toplogin:hover {
    box-shadow: 0 0 10px 0 #098ce2 inset, 0 0 10px 4px #098ce2;
    cursor: pointer;
}


.mainsection{
    width:100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
}
.mainLogo{
    width: 24em;
    display: flex;
    position:center bottom;
}
.logoWrap {
    padding-top: 2em;
    display:flex;
    flex-direction:column;
    align-items:center;
}
.searchbarWrap{
    width: 36em;
    height: 3em;
    padding-right: 0.5em;
    padding-left: 0.5em;
    display: flex;
    align-items: center;    
    justify-content: space-evenly;
    box-sizing: border-box;
    border-radius: 30px;
    border: 1px rgb(207, 205, 205) solid;
    margin-bottom: 2em;
}
.searchbarWrap > .searchbarchild > input{
    width: 100%;
    height: 2em;
    border-style: none;
    font-size: 16.5px;
}
.searchbarWrap > .searchbarchild img{
    width: 1.5em;
    padding-right: 0.5em;
    padding-left: 0.5em;
}
.searchbarchild:nth-child(2) {
    flex-grow: 1;
}


/* container영역 */
.mainsection>.container{
    height: 400px;
}

.mainsection>.container>.containermein{
    width: 15em;
    display: flex;
    justify-content: space-between;
}
.mainsection>.container>.containermein input{
    width:7.5em;
    height: 2.4em;
    font-size: 0.8em;
    border: 1px rgb(240, 234, 229) solid;
    border-radius: 5%;
    background-color: rgb(240, 234, 229);
}
/* footer영역 */
.footer{
    width: 100%;
    height: 6em;
    float: right;
    bottom: 0;
    position : relative;
    transform : translateY(0.5%);
    margin-top: 1.1em;
}
.footerl{
    height: 3em;
    padding-right: 1em;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-inline-start: 0.5em;
    color: rgb(85, 83, 83);
}
.footer1{
    height: 3em;
    background-color: #f1f1ee;
    border-bottom: rgb(194, 194, 194) 1px solid;
}
.footer2{
    height: 3em;
    display: grid;
    grid-template-columns: 1fr 1fr;  
    background-color: #f1f1ee;
    color: rgb(85, 83, 83);
}
.footer>.footer2>.footer2Grid1{
    /* padding: 0.5em; */
    display: flex;
    align-items: center;
    justify-content: left;
}
.footer>.footer2>.footer2Grid1 a{
    text-decoration: none;
    color: rgb(85, 83, 83);
    margin-inline-start: 0.5em;
}
.footer>.footer2>.footer2Grid2{
   
    padding-right: 0.5em;
    display: flex;
    align-items: center;
    justify-content: right;
}
.footer>.footer2>.footer2Grid2 a{
    text-decoration: none;
    color: rgb(85, 83, 83);
    margin-inline-start: 0.5em;
    margin-right: 0.5em;
}

/*popup*/
.popup_layer {
    position:fixed;
    top:0;
    left:0;
    z-index: 10000; 
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.4); 
}
/*팝업 박스*/
.popup_box{
    position: relative;
    top:38%;left:87%; 
    overflow: auto; 
    height: 600px; 
    width:22em;
    transform:translate(-50%, -50%);
    z-index:1002;
    box-sizing:border-box;
    background:#fff;
    box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);
    -webkit-box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 2px 5px 10px 0px rgba(184, 41, 41, 0.35);
}
/*컨텐츠 영역*/
.popup_box .popup_cont {
    padding-top:3em; 
    padding-left: 2em; 
    line-height:1em;font-size:14px; 
}

.popupWrap{
    display: grid;
    grid-template-columns: repeat(3, 7em);
}
.popupitem{
    display: flex;
    width: 7em;
    height: 7em;
    /* background-color:palevioletred; */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 1em;
}
.popupitem a{
    /* border: #098ce2 1px solid; */
    text-decoration: none;
    font-size: larger;
    color: black; 

}
.popupitem img{
    display: flex;
    width: 70px;
    padding-bottom: 1em;
}
/*오버레이 뒷배경*/
.popup_overlay{position:fixed;top:0px;right:0;left:0;bottom:0;z-index:1001;;background:rgba(0,0,0,0.5);}

