.pop_section_mainList>article{
    display: flex;
    flex-direction: column;
}
.pop_section_main_header{
    width: 100%;
    clear: both;
    background-color: bisque;
}
.pop_section_main_header>h4 {
    margin: 0%;
    float: left;
}
.pop_section_main_header>a {
    margin: 0%;
    float: right;
    cursor: context-menu;
}
.pop_section_main_header>a>p {
    margin: 0%;
}
.pop_section_main_header>a>div {
    margin: 0%;
    width: 100%;
    border: double 2px #1E2C5C;
    border-radius: 25px;
}
.pop_section_main_header>div{
    width: 100%;
    float: left;
}
.pop_section_main_header>div>ul{
    margin: 1%;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.pop_section_main_top {
    background-color: aquamarine;

    
}
.pop_section_main_topText {
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    justify-content: space-between;
}
.pop_section_main_topList {
    width: 100%;
    border: 1px saddlebrown solid;
}