@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Do Hyeon', sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
.bgImg{
    position: fixed;
    top: 40%;
    right: 10%;
    width: 6rem;
    height: 30%;
    border: 1px salmon solid;
}
.bgImg_scroll_t {
    content: "";
    position: relative;
    top: 2rem;
    width: 2rem;
    height: 5%;
    border: 4px rgb(114, 114, 114) solid; 
    border-radius: 30%;
    transform: rotate( -46deg ) translate( -5% , 135% );
}
.bgImg_scroll_t::after {
    content: "";
    position: absolute;
    top: -10%;
    width: 100%;
    height: 100%;
    border: 4px rgb(114, 114, 114) solid; 
    border-radius: 30%;
    transform: rotate( 95deg ) translate( 30% , -185% );
}
.bgImg_scroll_m{
    content: "";
    position: relative;
    top: 4.8rem;
    left: 0.5rem;
    width: 3rem;
    height: 4.5rem;
    border: 6px rgb(114, 114, 114) solid; 
    border-radius: 45%;  
}
.bgImg_scroll_m::after{
    content: "";
    position: absolute;
    top: 20%;
    left: 42%;
    width: 5%;
    height: 20%;
    background-color: rgb(114, 114, 114);
    border: 4px rgb(114, 114, 114) solid; 
    border-radius: 40%;  
}
.bgImg_scroll_b {
    content: "";
    position: relative;
    top: 6rem;

    width: 2rem;
    height: 5%;
    border: 4px rgb(114, 114, 114) solid; 
    border-radius: 30%;
    transform: rotate( 44deg ) translate( 52% , 132% );
}
.bgImg_scroll_b::after {
    content: "";
    position: absolute;
    top: -10%;
    width: 100%;
    height: 100%;
    border: 4px rgb(114, 114, 114) solid; 
    border-radius: 30%;
    transform: rotate( -90deg ) translate( 50% , 150% );
}
.bg {
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    position: relative;
}

.bg_macbook {
    width: 34%;
    height: 90%;
    top: 5%;
    left: 30%;
    position: absolute;
    border: 1px solid red;
	background-size: contain;
}
.bg_macbook>img {
    width: 100%;
    height: 100%;
}
.screen {
    position: absolute;
    top: 8.5%;
    left:  9.5%;
    width: 80.5%;
    height: 81%;
    border: 1px saddlebrown solid;
    overflow-y: scroll;
    overflow-x: hidden;
}
.wrap {
    width: 100%;
    height: auto;
    background-color: sandybrown;
    display: flex;
    flex-direction: column;
}
/* index>header() 영역 */
.header {
    width: 100%;
    top: 0%;
    position: sticky;
    display: flex;
    flex-direction: column;
}
.header_top {
    width: 100%;
    height: 3rem;
    display: flex;
    background-color: white;
    border: 1px solid salmon;
    padding: 1% 2%;    
}
.header_top_left {
    padding-left: 2%;
    width: 50%;

}
.header_top_left_logo {
    width: 40%;
    height: 89%;
}
.header_top_left_logotext{
    top: 10%;
    width: 40%;
    display: none;
}
.header_top_left>a:hover .header_top_left_logo{
    display: none;
}
.header_top_left>a:hover .header_top_left_logotext{
    display: block;
}

.header_top_right {
    width: 40%;
    padding-left: 0%;
    padding-right: 2%;
    text-align: end;
}
.header_top_right>a>img {
    width: 2rem;
    height: 2rem;
    margin-top: 5%;
    margin-left: 2%;
}
.header_submenu {
    background-color: #1E2C5C;
    width: 100%;
    height: 2.8rem;
    text-align-last: initial;
}

.header_submenu_list{
    list-style: none;
    margin-top: 1%;
    padding:0% 2%;

}
.header_submenu_list>li>a {
    color: white;
    font-size: 1.5em;
}
/* .header_submenu>ul>li>a:hover {
    color: #1E2C5C;
    background-color: white;
} */
.header_submenu_list>li {
    display: inline-block;
    margin: 1% 2%;

}
/* index>section() 영역 */
.section {
    width: 100%;
    height: 80%;

    background-color: wheat;
}
/* index>footer() 영역 */
.footer {
    width: 100%;
}
.footer>div {
    padding: 2%;
}

/* ------index>menu(nav)---------------------------- */
/* index>nav>header() 영역 */
/* <메인메뉴_헤더&로그인 영역> */
.menuSlide {
    right: 0;
    width: 90%;
    height: auto;
    position: absolute;
    display: none;
}
.menuPage {
    width: 100%;
    height: auto;
    border: 1px salmon solid;
    display: flex;
    flex-direction: column;
    
}
/* >nav(/header_menu.php) 영역 */
.menuHeader {
    width: 100%;
    height: 10rem;
}
.menuPage_top {
    width: 96%;
    height: 100%;
    background-color: #1E2C5C;
    clear: both;
    padding: 2%;
}
.menuPage_top>div {
    float: left;
    width: 45%;
    height: auto;
    padding: 0% 2%;
}
.menuPage_topLeft>img {
    height: 2.5em;
    width: 5em;
}
.menuPage_topRight {
    margin-top: 2%;
    text-align: right;
    position: relative;
}
.menuPage_topRight>a>img  {
    height: 2em;
    width: 2em;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 50%;
}
.menuPage_topRight>img  {
    height: 2em;
    width: 2em;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 50%;
}
.menuPage_login {
    width: 60%;
    height: 7rem;
    left: 20%;
    top: 8%;
    position: absolute;
    padding: 2%;
    border-radius: 8px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.menuPage_login>div {
    margin-top: 3%;
    text-align: center; 
}   
.menuPage_login>div>li {
    list-style: none;
}
.userKeyup {
    font-size: larger;
}
.userKeyup>span {
    color: white;
    background-color: #1E2C5C;
}
.userKeyup:hover{
    background-color: wheat;
}
/* index>nav>section() 영역 */
.menuSection {
    width: 100%;
    background-color: #eeeeee;
}
.menuSection_un {
    width: 96%;
    height: 5rem;
    content: "";
}
/* <메인메뉴_바로가기메뉴 영역> */
.menuSection_top {
    width: 96%;
    padding: 2%;
}
.menuS_t_quickList {
    width: 96%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    padding: 2%;
    padding-bottom: 5%;
}
.menuS_t_quickList>a>div {
    width: 100%;
    height: 96%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1E2C5C;
    font-size:x-large;
    background-color: white;
    border: 1px transparent solid;
    border-radius: 25% 5% 25% 5%;
}
.menuS_t_quickList>a>div>img {
    display: block;
    width: 2rem;
    height: 2rem;
}
/* <메인메뉴_메인메뉴 영역> */
.menuSection_center {
    width: 96%;
    padding: 0% 2%;
    background-color: #eeeeee;
}
.menuSection_center>div {
    width: 96%;
    margin: 0;
    padding: 2%;
    border-top: 1px solid  white;
    border-bottom: 1px solid  white;
}
.menuSection_center>div>ul {
    width: 96%;
    padding: 2%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}
.menuSection_center>div>ul>div {
    width: 40%;
    padding: 0 5%;
}
.menuSection_center>div>ul>div>li {
    width: 90%;
    padding: 1% 10%;
}
.menuSection_center>div>ul>div>li:hover {
    background-color: wheat;
}
.menuSection_center>div>ul>div>li>a {
    display: flex;
    flex-direction: row;
    align-items:center ;
    color: #1E2C5C;
    font-size: larger;    
}
.menuSection_center>div>ul>div>li>a>span {
    display: block;
}

.menuSection_center>div>ul>div>li>a>img {
    width: 3rem;
    height: 3rem;
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: white;
}
/* <메인메뉴_SNS바로가기 영역> */
.menuSection_bottom {
    width: 96%;
    padding: 4%;
    background-color: #eeeeee;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.menuSection_b_snsBox {
    padding: 2%;
    background-color: white;
    border: 1px transparent solid;
    border-radius: 25% 5% 25% 5%;
}

.menuSection_b_snsBox>a {
    padding-top: 1%;
    color: #1E2C5C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuSection_b_snsBox>a>p {
    margin: 0;
}
.menuSection_b_snsicon {
    width: 2.5rem;
    border: 1px transparent solid;
    border-radius: 50%;
}
/* <메인메뉴_광고 영역> */
.menuAticle {
    width: 96%;
    padding: 2%;
    background-color: white;
}
.menuAticle_banner {
    max-height: 6rem;
    overflow: hidden;
}
.menuAticle_banner>img {
    max-height: initial;
    width: 100%;
    margin-top: -15%;
}
/* <메인메뉴_footer 영역> */
.menuFooter {
    width: 98%;
    height: 2.5rem;
    background-color: gray;
}
.menuFooter>div {
    padding: 2%;
    color: white;
}
.menuFooter>div>a>span {
    padding: 2%;
    color: white;
}





@media all and (max-width:1680px) {
    .bg_macbook {
        width: 38%;
        left: 28%;
    }
    .menuSection_un {
        height: 7rem;
    }
    .menuSection_center>div>ul>div>li>a {
        justify-content:start;
        
    }
    .menuS_t_quickList>a>div {
        font-size: smaller;
    }
    .menuSection_center>div>ul>div>li>a {
        font-size: smaller;
    }

}
@media all and (max-width:1580px) {
    .bg_macbook {
        width: 40%;
        left: 26%;
    }
}
@media all and (max-width:1480px) {
    .bg_macbook {
        width: 44%;
        left: 24%;
    }
}
@media all and (max-width:1380px) {
    .bg_macbook {
        width: 48%;
        left: 22%;
    }
}
@media all and (max-width:1280px) {
    .bg_macbook {
        width: 52%;
        left: 20%;
    }
}
@media all and (max-width:1180px) {
    .bg_macbook {
        width: 54%;
        left: 18%;
    }
}
@media all and (max-width:1080px) {
    .bg_macbook {
        width: 58%;
        left: 14%;
    }
}
@media all and (max-width:980px) {
    .bg_macbook {
        width: 60%;
        left: 10%;
    }
    
}
@media all and (max-width:900px) {
    .bg_macbook {
        width: 68%;
    }
    
}
@media all and (max-width:880px) {
    .bg_macbook {
        width: 76%;
        left: 6%;
    }
    
}
@media all and (max-width:780px) {
    .bg_macbook {
        width: 90%;
        left:   4%;
    }
    
}
@media all and (max-width:680px) {
    html,body{
        overflow: hidden;
    }
    .bg_macbook {
        width: 100%;
        height: 100%;
        top: 7%;
        left: 0%;
    }
    .screen {
        top: 5%;
        left: 0%;
        width: 99%;
        height: 90%;
    }
        /* >nav(/header_menu.php) 영역 */
    /* 로그인 영역 사이즈 변경 */
    .menuPage_login {
        top: 12%;
        left: 10%;
        width: 80%;
    }
    /* index>nav>section() 영역 */
    /* 메인메뉴 아이콘 사이즈 변경 */
    .menuSection_center>div>ul>div {
        width: 46%;
        padding: 0 1%;
    }
    .menuSection_center>div>ul>div>li>a>img {
        width: 2rem;
        height: 2rem;
    }
    /* SNS계정 아이콘 사이즈 변경 */
    .menuSection_b_snsicon {
        width: 2rem;
    }

}